@import './variables.scss';

.title_container {
    display: inline-block;
    position: relative;
    margin: 3rem 0 1rem;
}

.title {
    position: absolute;
    white-space: nowrap;
    bottom: 0;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        background-color: $tertiary-color;
        height: 0.75rem;
        width: 100%;
        opacity: 0.5;
        z-index: -1;
    }
}
