.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0 2.5rem;
}

.header_title {
    position: relative;
    &::before {
        position: absolute;
        content: 'Movie search powered by TMDb API';
        font-size: 0.9rem;
        bottom: -1rem;
        font-weight: 300;
    }
}

@media only screen and (max-width: 768px) {
    .header_title {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 600px) {
    .header {
        flex-direction: column;
    }
    .header_title {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}
