@import './variables.scss';

.input {
    background-color: rgba($secondary-color, 0.6);
    color: #fff;
    position: relative;
    border-radius: 5px;
    width: 12rem;
    height: 2.5rem;
    cursor: text;
    transition: all 0.5s ease-in-out;
    &:hover {
        width: 15rem;
    }
    &:hover > .input-box {
        caret-color: #fff;
        opacity: 1;
    }
    &:focus > .input-box {
        caret-color: #fff;
    }
    & .input-box:valid {
        caret-color: #fff;
        opacity: 1;
    }
}

.input-box {
    opacity: 0;
    caret-color: transparent;
    position: absolute;
    color: #fff;
    padding-left: 3.5rem;
    border-radius: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($secondary-color, 0.6);
    border: none;
    outline: none;
    transition: caret-color 0.15s ease-in, opacity 0.75s linear,
        background-color 0.2s ease-in-out;
    &:hover {
        background-color: rgba($secondary-color, 1);
    }
    &:hover + .search-icon {
        transform: translateX(-40%);
    }
    &:valid + .search-icon {
        transform: translateX(-40%);
    }
}

.search-icon {
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    left: 45%;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-out;
}

.icon {
    transition: all 0.5s ease-out;
}

@media only screen and (max-width: 768px) {
    .input {
        width: 8rem;
        &:hover {
            width: 10rem;
        }
    }
    .input-box {
        padding-left: 2.5rem;
    }
}
