@import './variables.scss';

.input {
    background-color: rgba($secondary-color, 1);
    color: #fff;
    position: relative;
    border-radius: 5px;

    width: 12rem;
    height: 2.5rem;
    cursor: text;
    transition: all 0.5s ease-in-out;

    & .input-box {
        position: absolute;
        color: #fff;
        padding-left: 3.5rem;
        border-radius: 5px;
        right: 0;
        bottom: 0;
        width: 30%;
        height: 100%;
        background-color: rgba($secondary-color, 1);
        border: none;
        &:hover + .search-icon {
            transform: translateX(-40%);
            // left: 2rem;
        }
        &:valid + .search-icon {
            transform: translateX(-40%);
            // left: 2rem;
        }
    }

    & .search-icon {
        pointer-events: none;
        position: absolute;
        display: flex;
        align-items: center;
        left: 45%;
        bottom: 0;
        width: 100%;
        height: 100%;
        transition: transform 0.5s ease-in-out;
    }

    &:hover {
        width: 15rem;
    }
}

.icon {
    transition: all 1s ease-in-out;
}
