.card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
}

.card-container {
    position: relative;
    display: flex;
}

.movie-poster-container {
    display: flex;
    // width: 100%;
    z-index: 1;
    transition: z-index 0s linear 1s;
    // border-radius: 10px;

    & .movie-poster {
        width: 100%;
        border-radius: 10px;
        transition: border-radius 0s linear 1s;
        &.active {
            transition: border-radius 0s linear 0s;
            border-radius: 10px 0 0 10px;
        }
    }
    &.active {
        transition: z-index 0s linear 0s;
        z-index: 4;
        // border-radius: 10px 0 0 10px;
    }
}

.button {
    position: absolute;
    background-color: red;
    cursor: pointer;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;

    &:hover
        ~ .movie-poster-container
        > .movie-rating-container
        > .movie-rating
        > .rating-background {
        transition: transform 0.5s ease-in-out 0s;
        transform: translate(0, -10px) rotate(-15deg);
    }
    &:hover
        ~ .movie-poster-container
        > .movie-rating-container
        > .movie-rating
        > .movie-vote-wrapper {
            transition: font-size 0.5s ease-in-out 0s;
        font-size: 2rem;
    }
    &:hover
        ~ .movie-poster-container
        > .movie-rating-container
        > .movie-rating
        > .movie-vote-wrapper .movie-vote {
            transition: font-size 0.5s ease-in-out 0s;
        font-size: 3.5rem;
    }

    &.active {
        z-index: 5;
    }
}

.card-content {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0;
    padding: 1rem 2rem;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: -1;
    opacity: 0;
    overflow-y: hidden;

    transition: margin-left 1s ease-in-out, z-index 0s linear 1s,
        opacity 0s linear 1s, border-radius 0s linear 0.5s,
        width 1s ease-in-out 0s;

    &.active {
        transition: margin-left 1s ease-in-out 0s, z-index 0s linear 0s,
            opacity 0s linear 0s, border-radius 0s linear 0.5s,
            width 1s ease-in-out 0s;
        margin-left: 100%;
        z-index: 3;
        opacity: 1;
        width: 130%;
        border-radius: 0 10px 10px 0;
    }
}

.movie-overview,
.movie-release {
    padding-top: 0.5rem;
}

.movie-rating-container {
    position: absolute;
    display: flex;
    align-items: flex-end;
    z-index: 1;
    width: 100%;
    height: 100%;
    color: #fff;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
    transition: border-radius 0s linear 1s;

    &.active {
        transition: border-radius 0s linear 0s;
        border-radius: 0 0 0 10px;
    }

    & .movie-rating {
        position: relative;
        bottom: 0;
        width: 100%;
        height: 50%;
    }

    & .movie-vote-wrapper {
        position: absolute;
        right: 1rem;
        bottom: 0.5rem;
        font-size: 1.75rem;
        transition: font-size 0.5s ease-in-out 0s;
    }

    & .movie-vote {
        font-size: 3rem;
        transition: font-size 0.5s ease-in-out 0s;
    }

    & .rating-background {
        transition: transform 0.5s ease-in-out 0s;
        position: absolute;
        background-color: black;
        opacity: 0.5;
        height: 10rem;
        width: 20rem;
        bottom: -4rem;
        transform: rotate(-10deg);
    }
}
