.card-list {
    display: flex;
    flex-wrap: wrap;
    // grid-gap: 1rem;
    // align-items: flex-start;

    button {
        position: relative;
        cursor: pointer;
        border: none;
        outline: none;
        background-color: white;
        display: flex;
        flex-direction: row;
        transition: transform 0.2s ease-in-out;
        &:hover {
            transform: translateY(-5px);
        }
    }
}

.card {
    // min-width: 20%;
    max-width: 30%;
    background-color: red;
}

.movie-poster {
    width: 100%;
    border-radius: 5px;
}

.card-content {
    // position: absolute;
    display: block;
    max-width: 30%;
    right: -200px;
}
