@import 'variables.scss';

.card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
}

.card-container {
    position: relative;
    display: flex;
}

.movie-poster-container {
    display: flex;
    width: 100%;
    z-index: 1;
    transition: z-index 0s linear 1s;

    & .movie-poster {
        opacity: 1;
        width: 100%;
        border-radius: 10px;
        transition: border-radius 0s linear 1s;
        &.active {
            transition: border-radius 0s linear 0s;
            border-radius: 10px 0 0 10px;
        }
    }

    & .movie-poster-ph {
        background-color: $primary-color;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: border-radius 0s linear 1s;
        &.active {
            transition: border-radius 0s linear 0s;
            border-radius: 10px 0 0 10px;
        }
    }

    &.active {
        transition: z-index 0s linear 0s;
        z-index: 4;
    }
}

.button {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;

    &:hover
        ~ .movie-poster-container
        > .movie-rating-container
        > .movie-rating
        > .rating-background {
        transition: transform 0.5s ease-in-out 0s;
        transform: translate(0, -10px) rotate(-15deg);
    }
    &:hover
        ~ .movie-poster-container
        > .movie-rating-container
        > .movie-rating
        > .movie-vote-wrapper
        > .movie-vote {
        transition: font-size 0.5s ease-in-out 0s;
        font-size: 2rem;
    }
    &:hover
        ~ .movie-poster-container
        > .movie-rating-container
        > .movie-rating
        > .movie-vote-wrapper
        > .movie-vote
        > p
        > .movie-vote-rating {
        transition: font-size 0.5s ease-in-out 0s;
        font-size: 3.5rem;
    }

    &.active {
        z-index: 5;
    }
}

.card-content {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 0;
    padding: 0 1rem 1rem;
    border: white 1rem solid;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: -1;
    opacity: 0;
    overflow-y: scroll;

    transition: margin-left 1s ease-in-out, z-index 0s linear 1s,
        opacity 0s linear 1s, border-radius 0s linear 0.5s,
        width 1s ease-in-out 0s;

    &.active {
        transition: margin-left 1s ease-in-out 0s, z-index 0s linear 0s,
            opacity 0s linear 0s, border-radius 0s linear 0.5s,
            width 1s ease-in-out 0s;
        margin-left: 100%;
        z-index: 3;
        opacity: 1;
        width: 130%;
        border-radius: 0 10px 10px 0;
    }
}

.movie-overview-container,
.movie-release-container {
    padding-top: 0.5rem;
}

.movie-release,
.movie-overview {
    position: relative;
    display: inline-block;
    &::before {
        content: '';
        position: absolute;
        bottom: 0.1rem;
        background-color: $tertiary-color;
        opacity: 0.4;
        height: 0.5rem;
        width: 100%;
        z-index: -1;
    }
}

.movie-rating-container {
    position: absolute;
    display: flex;
    align-items: flex-end;
    z-index: 1;
    width: 100%;
    height: 100%;
    color: #fff;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
    transition: border-radius 0s linear 1s;

    &.active {
        transition: border-radius 0s linear 0s;
        border-radius: 0 0 0 10px;
    }

    & .movie-rating {
        position: relative;
        bottom: 0;
        width: 100%;
        height: 50%;
    }

    & .movie-vote-wrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;

        height: 100%;
        width: 100%;
        padding: 0 1rem 0.5rem;
        transition: font-size 0.5s ease-in-out 0s;

        & .rating-footer {
            position: absolute;
            opacity: 0.7;
        }

        & .movie-vote {
            padding-bottom: 0.5rem;
            font-size: 1.75rem;
            transition: font-size 0.5s ease-in-out 0s;

            & .movie-vote-rating {
                transition: font-size 0.5s ease-in-out 0s;
                font-size: 3rem;
            }
            & .movie-no-vote {
                padding-bottom: 0.75rem;
            }
        }
    }

    & .rating-background {
        transition: transform 0.5s ease-in-out 0s;
        position: absolute;
        background-color: black;
        opacity: 0.5;
        height: 10rem;
        width: 30rem;
        bottom: -3rem;
        transform: rotate(-10deg);
    }
}

.rating-header {
    position: absolute;
}

@media only screen and (max-width: 1024px) {
    .card-content {
        font-size: 0.75rem;
        padding: 1rem;
        &.active {
            width: 120%;
        }
    }
    .movie-rating-container {
        & .movie-vote-wrapper {
            & .movie-vote {
                font-size: 1.5rem;
                & .movie-vote-rating {
                    font-size: 2.5rem;
                }
            }
        }
    }
    .button {
        &:hover
            ~ .movie-poster-container
            > .movie-rating-container
            > .movie-rating
            > .movie-vote-wrapper
            > .movie-vote {
            font-size: 1.75rem;
        }
        &:hover
            ~ .movie-poster-container
            > .movie-rating-container
            > .movie-rating
            > .movie-vote-wrapper
            > .movie-vote
            > p
            > .movie-vote-rating {
            transition: font-size 0.5s ease-in-out 0s;
            font-size: 3rem;
        }
    }
}

@media only screen and (max-width: 768px) {
    .movie-rating-container {
        & .movie-vote-wrapper {
            & .movie-vote {
                font-size: 1.25rem;
                & .movie-vote-rating {
                    font-size: 2.25rem;
                }
            }
        }
    }
    .button {
        &:hover
            ~ .movie-poster-container
            > .movie-rating-container
            > .movie-rating
            > .movie-vote-wrapper
            > .movie-vote {
            font-size: 1.5rem;
        }
        &:hover
            ~ .movie-poster-container
            > .movie-rating-container
            > .movie-rating
            > .movie-vote-wrapper
            > .movie-vote
            > p
            > .movie-vote-rating {
            transition: font-size 0.5s ease-in-out 0s;
            font-size: 2.5rem;
        }
    }
}

@media only screen and (max-width: 600px) {
    .card-list {
        grid-template-columns: 1fr;
    }
    .movie-poster-container {
        & .movie-poster {
            &.active {
                border-radius: 10px 10px 0 0;
            }
        }
    }
    .card-content {
        bottom: 0;
        height: 50%;
        overflow-y: scroll;
        padding: 0.5rem 1rem 1rem 0;
        transition: bottom 1s ease-in-out, z-index 0s linear 1s,
            opacity 0s linear 1s, border-radius 0s linear 0.5s,
            width 1s ease-in-out 0s;

        &.active {
            transition: bottom 1s ease-in-out 0s, z-index 0s linear 0s,
                opacity 0s linear 0s, border-radius 0s linear 0.5s,
                width 1s ease-in-out 0s;
            margin-left: 0;
            bottom: -50%;
            width: 100%;
            border-radius: 0 0 10px 10px;
        }
    }
}
