@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import 'variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $secondary-color;
    background-color: $primary-color;
    font-family: 'Oswald', sans-serif;
}

.container {
    margin: 0 auto;
    width: 70vw;
}

.page-content {
    width: 100%;
}
